/* Import Files */
/* Primary Colors */
/* Light Theme */
/* Dark Theme */
/* Global Rulez */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  margin: auto;
  padding: 50px 30px;
}

/* Mixins */
/* Reusable Styles */
.social-grid-container .day-statistics-box .icon h3 i.fa-instagram, .social-grid-container .total-statistics-box h5 i.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
}

.display-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.main-box {
  padding: 30px;
  border-radius: 5px;
  background-color: #f0f2fa;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.main-box:hover {
  background-color: #aeb3cb;
}

/* Layout Styles */
/*-----------------------------------------*/
/* Start Main*/
main {
  display: flex;
}
main .main-title {
  width: 50%;
}
main .main-title h2 {
  color: #1e202a;
  font-weight: bold;
}
main .main-title h4 {
  color: #63687e;
}
main .toggle-switch {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main .toggle-switch p {
  font-weight: bold;
  font-size: 18px;
  color: #63687e;
}
main .toggle-switch .toggle-button {
  margin-left: 10px;
  width: 60px;
  height: 30px;
  border-radius: 25px;
  background-color: #63687e;
  position: relative;
  cursor: pointer;
}
main .toggle-switch .toggle-button span {
  position: absolute;
  top: 3.5px;
  -webkit-transform: translate(33px);
  -moz-transform: translate(33px);
  -o-transform: translate(33px);
  height: 23px;
  width: 23px;
  background-color: #f5f7ff;
  border-radius: 50%;
}

/*-----------------------------------------*/
/* Start Social Grid Template */
.social-grid-container {
  /* Day Statistics */
}
.social-grid-container .total-statistics {
  margin: 60px 0;
  text-align: center;
}
@media (max-width: 575px) {
  .social-grid-container .total-statistics {
    grid-template-columns: repeat(1, 4fr);
  }
}
.social-grid-container .total-statistics-box:after {
  content: "";
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #000;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.social-grid-container .total-statistics-box.facebook:after {
  background: #198ff5;
}
.social-grid-container .total-statistics-box.twitter:after {
  background: #1ca0f2;
}
.social-grid-container .total-statistics-box.instagram:after {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.social-grid-container .total-statistics-box.youtube:after {
  background: #c4032a;
}
.social-grid-container .total-statistics-box h5 i {
  font-size: 30px;
}
.social-grid-container .total-statistics-box h5 i.fa-facebook-square {
  color: #198ff5;
}
.social-grid-container .total-statistics-box h5 i.fa-twitter {
  color: #1ca0f2;
}
.social-grid-container .total-statistics-box h5 i.fa-youtube-square {
  color: #c4032a;
}
.social-grid-container .total-statistics-box h5 span {
  font-size: 14px;
  color: #63687e;
  position: relative;
  bottom: 6px;
}
.social-grid-container .total-statistics-box h1 {
  margin: 20px 0 25px;
  font-size: 60px;
}
.social-grid-container .total-statistics-box h1 span {
  display: block;
  font-size: 14px;
  color: #63687e;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.social-grid-container .total-statistics-box p {
  color: #1db489;
  font-weight: bold;
}
.social-grid-container .total-statistics-box p i {
  position: relative;
  bottom: -4px;
}
.social-grid-container .total-statistics-box p.youtube {
  color: #dc414c;
}
.social-grid-container .total-statistics-box p.youtube i {
  bottom: 3px;
}
.social-grid-container .day-statistics {
  grid-template-areas: "overview overview overview overview" "area1 area2 area3 area4" "area5 area6 area7 area8";
}
@media (max-width: 575px) {
  .social-grid-container .day-statistics {
    grid-template-areas: "overview overview overview overview" "area1 area1 area1 area1" "area2 area2 area2 area2" "area3 area3 area3 area3" "area4 area4 area4 area4" "area5 area5 area5 area5" "area6 area6 area6 area6" "area7 area7 area7 area7" "area8 area8 area8 area8";
  }
}
.social-grid-container .day-statistics-box {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
.social-grid-container .day-statistics-box.area-1 {
  grid-area: area1;
}
.social-grid-container .day-statistics-box.area-2 {
  grid-area: area2;
}
.social-grid-container .day-statistics-box.area-3 {
  grid-area: area3;
}
.social-grid-container .day-statistics-box.area-4 {
  grid-area: area4;
}
.social-grid-container .day-statistics-box.area-5 {
  grid-area: area5;
}
.social-grid-container .day-statistics-box.area-6 {
  grid-area: area6;
}
.social-grid-container .day-statistics-box.area-7 {
  grid-area: area7;
}
.social-grid-container .day-statistics-box.area-8 {
  grid-area: area8;
}
.social-grid-container .day-statistics-box.overview {
  grid-area: overview;
  padding: 0;
  cursor: auto;
  grid-template-columns: 12fr;
  background-color: transparent;
  color: #63687e;
}
.social-grid-container .day-statistics-box .views h3 {
  font-size: 14px;
  margin: 15px 0;
  color: #63687e;
}
.social-grid-container .day-statistics-box .views h5 {
  font-size: 35px;
}
.social-grid-container .day-statistics-box .icon {
  text-align: right;
}
.social-grid-container .day-statistics-box .icon h3 {
  font-size: 30px;
  margin: 15px 0;
}
.social-grid-container .day-statistics-box .icon h3 i.fa-facebook-square {
  color: #198ff5;
}
.social-grid-container .day-statistics-box .icon h3 i.fa-twitter-square {
  color: #1ca0f2;
}
.social-grid-container .day-statistics-box .icon h3 i.fa-youtube-square {
  color: #c4032a;
}
.social-grid-container .day-statistics-box .icon h5 {
  color: #1db489;
  font-weight: bold;
}
.social-grid-container .day-statistics-box .icon h5 span.down {
  color: #c4032a;
}
.social-grid-container .day-statistics-box .icon h5 i {
  position: relative;
  bottom: -4px;
}
.social-grid-container .day-statistics-box .icon h5 i.fa-sort-down {
  bottom: 3px;
  color: #c4032a;
}

/*# sourceMappingURL=style.css.map */
